nav {
    background-color: gray;
    height: 40px;
}
h2 {
    align-content: left;
    padding-top: 5px;
    margin-left: 10px
}
h3 {
    margin-top:25px;
    text-align: center;
}
div {
    background-color: gray;
}
div h4 {
    text-align: center;
}
.dropbtn {
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 50px;
}

.dropdown {
    display: inline-block;
    margin-top: -45px;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
